$backgroundColor: linear-gradient( rgba(69,76,172,1) 0%, rgba(223,91,144,1) 30%, rgba(250,233,110,1) 100%);
$backgroundColorWhite: #ffffff;
$backgroundColorTags: #db2777;
$iconLikeColor: #454cac;
$fontColorWhite: #ffffff;
$fontColorPink: #db2777;
$paginateColor: #6663fa;