@import "../components/mainPage/mainPageStyle";
@import "./variables";
@import "../components/header/headerStyle";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $backgroundColor;
}