.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  width: 60%;
  margin: 10px auto;
}

.container .card-box {
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}

.container .card-box .owner-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 10px 0;
}

.container .card-box .owner-data .owner-img {
  margin: 0 15px 0 0;
}

.container .card-box .owner-data .owner-img img {
  border-radius: 50%;
  height: 70px;
}

.container .card-box .owner-data .owner-details p:first-child {
  margin-bottom: 10px;
}

.container .card-box .post-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .card-box .post-data .post-img {
  height: 250px;
  width: 50%;
}

.container .card-box .post-data .post-img img {
  width: 100%;
  height: 100%;
}

.container .card-box .post-data .post-details {
  margin-left: 20px;
  width: 50%;
}

.container .card-box .post-data .post-details a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container .card-box .post-data .post-details .post-title {
  text-transform: uppercase;
}

.container .card-box .post-data .post-details p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card-box .post-data .post-details p:last-child i {
  color: #454cac;
}

.container .card-box .post-data .post-details p {
  margin-bottom: 15px;
}

.container .card-box .post-data .post-details .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .card-box .post-data .post-details .tags p {
  padding: 5px;
  background-color: #db2777;
  color: #ffffff;
  margin-right: 5px;
  font-size: 12px;
  /* word-break: break-all; */
  /* try to set lower font-size for response*/
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  list-style: none;
}

.pagination .active a {
  background-color: #6663fa;
  color: #ffffff;
}

.pagination a {
  text-decoration: none;
  border: 1px solid #6663fa;
  padding: 5px 10px;
  background-color: #ffffff;
}

.container-header {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  color: #db2777;
}

.container-header div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-header div:first-child p {
  font-weight: bold;
}

.container-header .bttMain button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff;
  background-color: #454cac;
}

.container-header .bttMain button:hover {
  background-color: green;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container-singlePost {
  width: 60%;
  margin: 40px auto;
}

.container-singlePost .single-post-title {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.container-singlePost .single-post-image {
  width: 100%;
  height: 600px;
}

.container-singlePost .single-post-image img {
  width: 100%;
  height: 100%;
}

.container-singlePost .single-post-likes-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.container-singlePost .single-post-likes-tags p:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-singlePost .single-post-likes-tags p:first-child i {
  color: #454cac;
}

.container-singlePost .single-post-likes-tags div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}

.container-singlePost .single-post-likes-tags div p {
  padding: 5px;
  background-color: #db2777;
  color: #ffffff;
  margin-right: 5px;
}

.container-singlePost .single-post-owner-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  position: relative;
}

.container-singlePost .single-post-owner-data .owner-picture {
  height: 100px;
  width: 20%;
  margin-right: 30px;
}

.container-singlePost .single-post-owner-data .owner-picture img {
  width: 100%;
  height: 100%;
}

.container-singlePost .single-post-owner-data .owner-name-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 35px;
  color: #ffffff;
  font-size: 20px;
}

.container-singlePost .single-post-owner-data .owner-name-id p:last-child {
  font-size: 14px;
}

.container-singlePost .single-post-owner-data .editBtt {
  margin-right: 150px;
}

.container-singlePost .single-post-owner-data button {
  height: 50px;
  padding: 10px 25px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #454cac;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.container-edit-post {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
}

.container-edit-post h1 {
  text-align: center;
  color: #ffffff;
  margin: 50px 0;
}

.container-edit-post p {
  color: #ffffff;
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.container-edit-post input {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 25px;
  border-radius: 15px;
}

.container-edit-post button {
  padding: 10px 30px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #db2777;
  cursor: pointer;
  display: block;
  margin: 30px auto 30px auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#454cac), color-stop(30%, #df5b90), to(#fae96e));
  background: linear-gradient(#454cac 0%, #df5b90 30%, #fae96e 100%);
}
/*# sourceMappingURL=style.css.map */